*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(245, 245, 245);
}
header{
	height: 70px;
	background: rgb(36, 36, 36);
	overflow: hidden;
}
.nav{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.logo a{
	display: block;
	width: 154px;
}
.list{
	position: absolute;
	left: 180px;
	top: 0px;
}
.list li{
	float: left;
	list-style: none;
	padding: 0 19px;
	text-align: center;
	height: 70px;
	line-height: 70px;
	color: white;
	font-size: 14px;
}
.list li a{
	display: block;
	text-decoration: none;
	color: white;
}
.select, .list li:hover{
	background: rgb(0, 0, 0);
}
.unload span{
	display: block;
	width: 28px;
	height: 19px;
	position: absolute;
    top: 21px;
    left: 496px;
    background: url('../imgs/topbar.png') no-repeat 0 9999px;
    background-position: -190px 0;
}
/* .select{
	background: url('../imgs/topbar.png');
	background-position: 0 -230px; */
}
.right-list{
	position: absolute;
	top: 0;
	right: 70px;
	padding: 18px 14px;
}
.right-list a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.search{
	width: 158px;
	height: 34px;
	border-radius: 17px;
	background: white url('../imgs/topbar.png') no-repeat 0 9999px;
	background-position: -6px -97px;
	text-indent: 20px;
}
.join{
	width: 94px;
	height: 38px;
	background: url('../imgs/topbar.png') no-repeat 0 9999px;
	background-position: 0 -136px;
	text-indent: 30px;
	line-height: 38px;
}
.munu{
	height: 38px;
	background: rgb(194,12,12);
}
.munu ul{
	list-style: none;
}
.munu li{
	float: left;
	font-size: 14px;
	padding: 2px 14px;
	margin: 10px 17px;
	position: relative;
	left: 300px;
}
.munu li a{
	display: block;
	text-decoration: none;
	color: white;
}
.chicked,.munu li:hover{
	border-radius: 13px;
	background-color: rgb(155,9,9);
}
.content{
	background: rgb(25, 30, 34);
}
.ad{
	width: 982px;
	height: 338px;
	margin: 0 auto;
	overflow: hidden;
}
.left{
	width: 730px;
	float: left;
}
.right{
	width: 252px;
	height: 338px;
	float: right;
}
.music-list{
	width: 980px;
	margin: 0 auto;
	border-left: 1px solid rgb(211, 211, 211);
	background: rgb(255, 255, 255);
	height: 1000px;
}
.hot-munu{
	list-style: none;
}
.hot-munu a{
	text-decoration: none;
}